$primaryColor: #A593E0;
$AlertColor: #FA777C;
$primaryLightColor: rgba(165, 147, 224, 0.44);
$AlertLightColor: rgba(250, 119, 124, 0.44);
$lineColor: #566270;
$primaryBackground: #FFF;
$primaryFontColor: #FFFFF3;

$progressBackground: #F6F6F6;
$progressColor: linear-gradient(to right, #a593e0, #90a5e9, #84b4ea, #86c1e6, #93cbe0);